body {
    margin: 0;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: 100%;
    background-image: url("owls.jpg");
}

.header, .footer {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    color: #fff;
    background-color: rgba(80, 80, 80, 0.5);

}

.birdList {
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 140px);
   /* flex: 1 0 auto;*/
 
}
.oneBird {
display: flex;
width: 40%;
margin: 20px auto;
height: 150px;
background-color: #fff;
border: 2px solid #909090;
border-radius: 5px;
box-shadow: 15px 10px 10px rgba(0,0,0,0.7); 
color: blue;
cursor: pointer;
}
.oneBird:hover {
    background-color: #909090;
    border: 2px solid #fff;
}
.smallPhoto {
    height: 150px;
    flex: 200px 0 0;
    background-size: cover; 
}
.smallText {
    flex:auto;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    height: 150px;
    align-content: space-around;
    justify-content: space-around;
}
.species {
    font-style: italic;
}
.rusName{
    font-weight: 600;
    font-size: 1.5em;
}

.birdBox {
    position: fixed;
    /* left: calc(50% - 100px);
    top: calc(50vh - 100px); */
    border: 2px solid #909090;
    border-radius: 10px 10px 0  0;
    box-shadow: 15px 10px 10px rgba(0,0,0,0.7); 
    animation: myexpand 1s;
    animation-fill-mode: forwards;
    background-size: cover; 

}
@keyframes myexpand {
    from {height: 75px; width: 100px; top: calc(50vh - 175px); left: calc(50% - 100px)}
    to {height: 375px; width: 500px; top: calc(50vh - 287px); left: calc(50% - 250px)}
}

.infoBird {
    position: fixed;
    top: calc(50vh + 90px);
    height: 120px;
    background-color: #909090;
    border: 2px solid #909090;
    color:blue;
    box-shadow: 15px 10px 10px rgba(0,0,0,0.7); 
    animation: myexpandtext 1s;
    animation-fill-mode: forwards;
    font-style: italic;
    line-height: 1.3em;
    padding: 10px 110px 10px 10px;

}
@keyframes myexpandtext {
    from {width: 60px;  font-size: 4px; left: calc(50% - 80px)}
    to {width: 380px; font-size: 16px; left: calc(50% - 250px)}
}

.player {
    position: fixed;
    top: calc(50vh + 130px);
    left: calc(50% + 160px);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-size: cover;
    background-image: url('play.svg');
    cursor: pointer;
}
.player:hover {
    background-color: #505050;
}
